.page{
    display: flex;
}

.custom__side-nav-max-width{
    width: fit-content;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     box-shadow: inset -4px 2px 8px rgb(14, 14, 14, 0.3); 
}

.content{
    flex:1;
    background: #0672cb;
}
