

<div id="tabs-895821743" class="dds__tabs" data-dds="tabs">
    <div class="dds__tabs__list-container">
      <ul class="dds__tabs__list dds__tabs__list--overflow" role="tablist" aria-orientation="horizontal">
        <li role="none" (click)="get()">
          <button 
            id="tab-332680210-0"
            class="dds__tabs__tab"
            role="tab"
            aria-controls="tab-332680210-0-pane"
            aria-selected="true"
            tabindex="0"
          >
            <span class="dds__tabs__tab__label" title="Tab 1">All products</span>
          </button>
        </li>

        <li role="none">
          <button
            id="tab-882711740-1"
            class="dds__tabs__tab"
            role="tab"
            aria-controls="tab-882711740-1-pane"
            aria-selected="false"
            tabindex="-1"
          >
            <span class="dds__tabs__tab__label" title="Tab 2">Jewellery</span>
          </button>
        </li>

        <li role="none">
          <button
            id="tab-151183046-2"
            class="dds__tabs__tab"
            role="tab"
            aria-controls="tab-151183046-2-pane"
            aria-selected="false"
            tabindex="-1"
          >
            <span class="dds__tabs__tab__label" title="Tab 3">Clothing</span>
          </button>
        </li>

        <li role="none">
          <button
            id="tab-928943479-3"
            class="dds__tabs__tab"
            role="tab"
            aria-controls="tab-928943479-3-pane"
            aria-selected="false"
            tabindex="-1"
          >
            <span class="dds__tabs__tab__label" title="Tab 4">Electronics</span>
          </button>
        </li>

        <li role="none">
          <button
            id="tab-675011783-4"
            class="dds__tabs__tab"
            role="tab"
            aria-controls="tab-675011783-4-pane"
            aria-selected="false"
            tabindex="-1"
          >
            <span class="dds__tabs__tab__label" title="Tab 5">Reports</span>
          </button>
        </li>


      </ul>
    </div>

    <div class="dds__tabs__pane-container">

      <div id="tab-0-pane" class="dds__tabs__pane" role="tabpanel" tabindex="0" aria-hidden="false" aria-labelledby="tab-0">
        <div class="flexcards">
            <div class="dds__card" *ngFor="let data of productsData">
                
                <div class="dds__card__media">
                    <img
                        src="{{data.image}}"
                        alt="{{data.title}}"
                    />
                    </div>
                    <div class="dds__card__content">
                    <div class="dds__card__header">
                        
                        <span class="dds__card__header__text">
                        <h5 class="dds__card__header__title">{{data.title}}</h5>
                        <span class="dds__card__header__subtitle">{{data.category}}</span>
                        </span>
                    </div>
                    <div class="dds__card__body">{{data.description}}</div>
                    <div class="dds__card__footer">
                        
                        <button  (click)="AddProductToUserCart(data)" class="dds__button dds__button--secondary dds__button--sm dds__card__footer__item" type="button">Add to cart</button>
                        <button  (click)="RemoveProductFromUserCart(data)" class="dds__button dds__button--primary dds__button--sm dds__card__footer__item" type="button">Added to cart</button>

                    </div>
                    </div>
            
        </div>
        </div>         
      </div>

      <div id="tab-1-pane" class="dds__tabs__pane" role="tabpanel" tabindex="-1" aria-hidden="true" aria-labelledby="tab-1">
        <div class="flexcards">
            <ng-container *ngFor="let data of productsData">
                <ng-container *ngIf="data.category==='jewelery'">
                    <div class="dds__card">
                        <div class="dds__card__media">
                            <img
                                src="{{data.image}}"
                                alt="{{data.title}}"
                            />
                        </div>
                        <div class="dds__card__content">
                            <div class="dds__card__header">
                                
                                <span class="dds__card__header__text">
                                <h5 class="dds__card__header__title">{{data.title}}</h5>
                                <span class="dds__card__header__subtitle">{{data.category}}</span>
                                </span>
                            </div>
                        <div class="dds__card__body">{{data.description}}</div>
                            <div class="dds__card__footer">                        
                              <button *ngIf="!data.inCart" (click)="AddProductToUserCart(data)" class="dds__button dds__button--secondary dds__button--sm dds__card__footer__item" type="button">Add to cart</button>
                              <button *ngIf="data.inCart" (click)="RemoveProductFromUserCart(data)" class="dds__button dds__button--primary dds__button--sm dds__card__footer__item" type="button">Added to cart</button>
                            </div>
                        </div>
                    </div>
                           
                </ng-container>
            </ng-container>
            
        </div>
                
      </div>

      <div id="tab-2-pane" class="dds__tabs__pane" role="tabpanel" tabindex="-1" aria-hidden="true" aria-labelledby="tab-2">
        <div class="flexcards">
            <ng-container *ngFor="let data of productsData">
                <ng-container *ngIf="data.category.includes('clothing')">
                    <div class="dds__card">
                        <div class="dds__card__media">
                            <img
                                src="{{data.image}}"
                                alt="{{data.title}}"
                            />
                        </div>
                        <div class="dds__card__content">
                            <div class="dds__card__header">
                                
                                <span class="dds__card__header__text">
                                <h5 class="dds__card__header__title">{{data.title}}</h5>
                                <span class="dds__card__header__subtitle">{{data.category}}</span>
                                </span>
                            </div>
                        <div class="dds__card__body">{{data.description}}</div>
                            <div class="dds__card__footer">
                                
                              <button *ngIf="!data.inCart" (click)="AddProductToUserCart(data)" class="dds__button dds__button--secondary dds__button--sm dds__card__footer__item" type="button">Add to cart</button>
                              <button *ngIf="data.inCart" (click)="RemoveProductFromUserCart(data)" class="dds__button dds__button--primary dds__button--sm dds__card__footer__item" type="button">Added to cart</button>                                  </div>
                        </div>
                    </div>
                           
                </ng-container>
            </ng-container>
            
        </div>
      </div>

      <div id="tab-3-pane" class="dds__tabs__pane" role="tabpanel" tabindex="-1" aria-hidden="true" aria-labelledby="tab-3">
        <div class="flexcards">
            <ng-container *ngFor="let data of productsData">
                <ng-container *ngIf="data.category==='electronics'">
                    <div class="dds__card">
                        <div class="dds__card__media">
                            <img
                                src="{{data.image}}"
                                alt="{{data.title}}"
                            />
                        </div>
                        <div class="dds__card__content">
                            <div class="dds__card__header">
                                
                                <span class="dds__card__header__text">
                                <h5 class="dds__card__header__title">{{data.title}}</h5>
                                <span class="dds__card__header__subtitle">{{data.category}}</span>
                                </span>
                            </div>
                        <div class="dds__card__body">{{data.description}}</div>
                            <div class="dds__card__footer">
                                
                              <button *ngIf="!data.inCart" (click)="AddProductToUserCart(data)" class="dds__button dds__button--secondary dds__button--sm dds__card__footer__item" type="button">Add to cart</button>
                              <button *ngIf="data.inCart" (click)="RemoveProductFromUserCart(data)" class="dds__button dds__button--primary dds__button--sm dds__card__footer__item" type="button">Added to cart</button>
                                  </div>
                        </div>
                    </div>
                           
                </ng-container>
            </ng-container>
            
        </div>
      </div>

      <div id="tab-4-pane" class="dds__tabs__pane" role="tabpanel" tabindex="-1" aria-hidden="true" aria-labelledby="tab-4">
        
            <div class="dds__table" role="table" id="table-998110420"></div>
      </div>

    </div>
  </div>
  
 