

  <div id="tabs-864039589" class="dds__tabs" data-dds="tabs">
    <div class="dds__tabs__list-container">
      <ul class="dds__tabs__list dds__tabs__list--overflow" role="tablist" aria-orientation="horizontal">
        <li role="none" routerLink="/Trending/shops">
          <button
            id="tab-126367229-0"
            class="dds__tabs__tab"
            role="tab"
            aria-controls="tab-126367229-0-pane"
            aria-selected="true"
            tabindex="0"
          >
            <span class="dds__tabs__tab__label" title="Tab 1">Shops</span>
          </button>
        </li>
        <li role="none" routerLink="/Trending/collections">
          <button
            id="tab-893858105-1"
            class="dds__tabs__tab"
            role="tab"
            aria-controls="tab-893858105-1-pane"
            aria-selected="false"
            tabindex="-1"
          >
            <span class="dds__tabs__tab__label" title="Tab 2">Collections</span>
          </button>
        </li>
      </ul>
    </div>
    <div class="dds__tabs__pane-container">
      <div id="tab-0-pane" class="dds__tabs__pane" role="tabpanel" tabindex="0" aria-hidden="false" aria-labelledby="tab-0">
          <router-outlet></router-outlet>        
      </div>
      <div id="tab-1-pane" class="dds__tabs__pane" role="tabpanel" tabindex="-1" aria-hidden="true" aria-labelledby="tab-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
