

<div class="container">
    <div class="card">
        <div class="header">
            <app-carousel></app-carousel>
            <p style="margin-top:20px">Welcome to E-Commerce Application !<p>
              
            
        </div>
        <div class="content" *ngIf="!authService.isAuthenticated()">
            <p class="signIn"><a routerLink="/SignIn">sign In</a> To view the application</p>
            <p class="signUp">Don't have an account ? <a routerLink="/SignUp">sign Up</a></p>
        </div>
        <div class="content" *ngIf="authService.isAuthenticated()">
            <span class="signIn">View All <a routerLink="/home/Products">Products</a></span><span> and </span>
            <span class="signIn"><a routerLink="/home/Trending/shops">Trending Items</a></span> here !
        </div>
    </div>
    
</div>
