<div class="overlay">
    <form data-dds="form" class="dds__form dds__container">
        <fieldset class="dds__form__section">
          <legend class="legend">
            <span class="form_topic">Let us kow your thoughts!</span>
          <span class="dds__icon dds__icon--close-x" aria-hidden="true" (click)="close()"></span>
        </legend>
          <div class="dds__row">
            <div class="dds__col--1 dds__col--sm-3">
              <div class="dds__text-area__container" data-dds="text-area">
                <div class="dds__text-area__header">
                  <label id="text-area-label-461109761" for="text-area-control-461109761" class="dds__label dds__label--required">Please share you feedback.</label>
                </div>
                <div class="dds__text-area__wrapper">
                  <textarea
                    class="dds__text-area"
                    name="text-area-control-name-461109761"
                    id="text-area-control-461109761"
                    aria-required="true"
                    required="true"
                  ></textarea>
                 
                  <div id="text-area-error-461109761" class="dds__invalid-feedback">Error text</div>
                </div>
              </div>
    
            </div>
          </div>
        </fieldset>
        <button class="dds__button" type="submit" (click)="close()">Submit</button>
      </form>

</div>


  
  
  