.dds__form{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:100vh;
    background-image: url('src/assets/Here image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.dds__container__modified
{
    background-color: #f5f6f7;
    padding:40px;
    width:fit-content;
    margin-right: 100px;
    height:fit-content;
}

.dds__h3
{
    width: fit-content;
    font-size: 32px;
}

.dds__row__modified{
    width: 400px;
}


.dds__form__Section1{
    width:fit-content;
    margin-top: 10px;
}

.dds__form__field{
    margin-top:10px;
}

.dds__input-text{
    height:38px;
}

